<button @onclick="OnClick" class="btn @ButtonStyle rounded-pill" style="width:150px;">
    @Label
</button>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string ButtonStyle { get; set; }

    /*
   * send processing back to the parent component page for execution
   * that is the execution of the button is not dependent on this component
   * this component contains ONLY the control to be reused on other parent components
   * Sending the processing back is called an EventCallBack
   * the OnClick parameter appears in the @onclick of this common reusable control
   */

 [Parameter]
 public EventCallback OnClick { get; set; }
}
