@page "/lesson20"
<PageTitle>Component And Parameters</PageTitle>


<h1>Component And Parameters</h1>

<blockquote>
    This page will demonstrate:
    <ul>
        <li>the use of buttons and non-page components (reusable UI components)</li>
        <li>a call to a non-page component and pass it parameter values</li>
    </ul>
</blockquote>

@*
    use another component by using the file name as the name of the tag
    it can send data to the other component

    there is the capability of passing data into the sub component to be 
        handled by the sub component
    to pass the data, use a variable parameter that exists on the sub component
*@

<Greeting />
<Greeting  name="Don"/>
@code {

}
