@page "/settingsviaservice"
<PageTitle>Playing with Preferences</PageTitle>

<!-- Additional namespaces-->
@using MauiAppDemo.Services


<h3>Settings Via Service</h3>

<h3>Settings</h3>
<h4> ....playing with Preference settings</h4>

<div class="mb-3">
    <label>Dark Mode</label> <br />
    <input type="checkbox" @bind="IsDarkMode" />
</div>

<p>@ThemeText</p>

@code {
    [Inject]
    public IPreferenceServices _preferenceServices { get; set; }

    private bool IsDarkMode
    {
        get => _preferenceServices.IsDark;
        set => _preferenceServices.SetTheme(value);

    }
    private string ThemeText => IsDarkMode ? "Dark Mode" : "Light Mode";
    
   

   
}
